/build/
/out/
/dist/
/.hamun/
/cmake-build-*/

Platforms/Android/local.properties
Platforms/Android/.gradle/
Platforms/Android/app/build/

.vs/
.idea/
.vscode/
*.user
*.suo
*.obj
*.o
*.pdb
*.ilk
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
.DS_Store
Thumbs.db
